body {
    font-family: "Courier New", monospace;
    background-color: white;
    color: black;
    margin: 40px;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 30px;
}

.date {
    margin: 20px 0;
}

ol {
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}
