@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
font-family:Roboto, sans-serif;
background:#e2d7aa;
color:#000;
font-size:16px;
line-height:24px;
margin:0 auto;
width:1180px;
}

header{
text-align:center;
margin-top:40px;
}

h1{
font-family:'Indie Flower', cursive;
font-size:60px;
letter-spacing:5px;
margin-bottom:40px;
}

.container{
width:1180px;
margin:auto;
}

article{
width:360px;
display:inline-block;
vertical-align:top;
margin-right:30px;
}

article:last-child{
margin-right:0;
}

article h2{
font-size:22px;
margin-bottom:5px;
}

.meta{
font-size:12px;
margin-bottom:10px;
}

.meta a{
color:#0a2d4a;
text-decoration:none;
}

article img{
width:350px;
height:200px;
object-fit:cover;
margin-bottom:15px;
}

article p{
text-align:justify;
margin-bottom:15px;
}

article p:first-of-type::first-letter{
font-size:40px;
font-weight:bold;
}

.buttons{
margin-top:10px;
}

.buttons a{
background:#a46a2a;
color:white;
padding:6px 12px;
text-decoration:none;
font-size:12px;
margin-right:5px;
text-transform:uppercase;
}

footer{
text-align:center;
font-size:12px;
margin-top:40px;
padding:20px 0;
}